Package: backupsystem
Version: 0.0.2
Section: utils
Priority: optional
Architecture: all
Depends: pv, zip, unzip
Suggests: nano
Maintainer: Sardinha CN <sar.anime.mania@gmail.com>
Homepage: https://github.com/SardinhaCN/BackupSystem
Description: Ferramenta de backup simples para terminal no Linux.
 BackupSystem permite fazer backups normais, compactados, descompactar, visualizar logs
 e atualizar o sistema de forma simples e eficiente.
